/* line 1, style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  transition: .2s; }

/* line 10, style.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5); }
  /* line 23, style.scss */
  header #desktop-navigation ul li {
    position: relative;
    float: left; }
  /* line 28, style.scss */
  header #desktop-navigation ul li a {
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block; }
  /* line 35, style.scss */
  header #desktop-navigation ul li a:hover {
    background: black;
    color: #fff; }
  /* line 40, style.scss */
  header #desktop-navigation ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: #fff;
    display: none; }
  /* line 48, style.scss */
  header #desktop-navigation ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  /* line 53, style.scss */
  header #desktop-navigation ul li ul li ul {
    left: 180px;
    top: 0; }
  /* line 58, style.scss */
  header #desktop-navigation ul li:hover > ul {
    display: initial; }

/* line 65, style.scss */
.burger-menu {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  /* line 80, style.scss */
  .burger-menu span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    /* line 98, style.scss */
    .burger-menu span:nth-child(1) {
      top: 0; }
    /* line 102, style.scss */
    .burger-menu span:nth-child(2) {
      top: 18px; }
    /* line 106, style.scss */
    .burger-menu span:nth-child(3) {
      top: 36px; }
  /* line 113, style.scss */
  .burger-menu.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  /* line 121, style.scss */
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  /* line 126, style.scss */
  .burger-menu.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

/* line 137, style.scss */
#mobile-ul {
  display: flex;
  flex-direction: column; }

/* line 142, style.scss */
.nested-ul {
  display: none; }
